{% extends 'basic.html' %}
{% block title %}About - Interio{% endblock %}



{% block body %}
{% include 'messages.html' %}
{% load static %}

<!-- Headers-4 block -->
<!--/inner-page -->
<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">About Us<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>
<!--//inner-page -->
<!-- feature with photo1 -->
<section class="w3l-feature-with-photo-11">
		<div class="feature-with-photo-hny section-gap">
			<div class="wrapper">
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
					<!---728x90--->

				</div>

				<div class="feature-with-photo-content">
						<span class="hny-sub-head">Our Info</span>
					<h3 class="hny-title about-head text-center">Home Design Made Easy<span class="sub-dot">.</sub></h3>
					<p class="about-para">Our aim is to bring together clients and designers in a harmonious space where creativity knows no bounds.
						With a user-friendly interface, clients can effortlessly discover design inspirations while designers showcase their skills.
						We're dedicated to making the design process accessible, collaborative, and ultimately transformative</p>
<!--					<div class="button-6">-->
<!--						<div class="eff-6"></div>-->
<!--						<a href="#" class="btn">Read More </a>-->
<!--				</div>-->

				</div>
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			</div>
		</div>
	</section>
	<!-- //feature with photo1 -->
<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info section-gap">
		<div class="wrapper">
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src=" {% static 'assets/images/1.jpg' %} " class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Real History</span>
					<h4>Best Interior Designs for your Family</h4>
					<p>Discover the perfect blend of comfort, style, and functionality with our curated selection of interior designs tailored for your family.
						From cozy living rooms to vibrant play areas, we offer a diverse range of options to suit every taste and lifestyle.
						Let us transform your house into a warm and inviting home where cherished memories are made and shared.</p>
<!--						<div class="button-6">-->
<!--								<div class="eff-6"></div>-->
<!--								<a href="#" class="btn">Read More</a>-->
<!--						</div>-->
				</div>
			</div>
		</div>
	</div>
</section>

 <!-- covers-19 -->
 <section class="w3l-covers-vv-main">
        <div class="covers-19">
            <div class="wrapper">
                <div class="end-covers-19">
                    <div class="midd-cover-19">
						<h6>Interior Designs</h6>
                        <h3 class="hny-title">Design For your Family...</h3></br>
							<p>Discover tailored interior designs for your family. From cozy living spaces to vibrant play areas, we've got you covered. Let's create cherished memories together.
							</p>
                            </a></h3>
<!--							<div class="button-6">-->
<!--									<div class="eff-6"></div>-->
<!--									<a href="#" class="btn">Read More </a>-->
<!--							</div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //covers-19 -->
<section class="w3l-grid-slider-vv">
	<div class="grid-slider section-gap">
		<div class="wrapper">
			<h3 class="hny-title text-center">One stop for home interiors<span class="sub-dot">.</sub></h3>
			<!--  Demos -->
			<div id="demos">
				<div class="owl-carousel owl-theme grid-col-4">
					<div class="item">

							<div class="gallery-grid">
								<div class="content">
									<div class="content-overlay"></div>
									<img src=" {% static 'assets/images/g1.jpg' %} " class="image-two img-responsive">
									<div class="content-details fadeIn-bottom">
										<h4 class="content-title">Residential </h4>

									</div>
								</div>
							</div>

						</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g2.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Office</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g3.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g4.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Decor</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g5.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Furniture</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g6.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g7.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Residential </h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g9.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior Decor</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g9.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Home Design</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /slider -->
	<script src=" {% static 'assets/js/jquery-3.3.1.min.js' %} "></script>
	<script src=" {% static 'assets/js/grids.owl.carousel.js' %} "></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 2000,
				autoplaySpeed: 1000,
				autoplayHoverPause: true,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 2,
						nav: true,
						margin: 20
					},
					667: {
						items: 3,
						nav: true,
						margin: 20
					},
					1000: {
						items: 4,
						nav: true,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- /slider -->

</section>



</body>

{% endblock %}