{% extends 'basic.html' %}
{% block title %}Home - Interio{% endblock %}



{% block body %}
{% include 'messages.html' %}
{% load static %}
<!-- Headers-4 block -->
<!-- hero-header 11 -->
<section class="w3l-hero-headers-11">
	<div class="hero-header-11">
			<!-- banner-text-info-->
			<div class="banner-left-content">

						<div class="d-grid grid-columns-auto-end">
							<div class="slider-text-w3ls">
								<span class="hny-sub">Modern Home</span>
								<h4>Interior Design Ideas for your Modern Home</h4>
								<p>Unlock a world of modern interior design ideas curated for your home.
									From sleek minimalist spaces to bold, avant-garde concepts, we offer a spectrum of inspiration tailored to elevate your living environment.
									Let us redefine modern living and transform your house into the epitome of contemporary elegance.</p>
								<div class="button-6">
										<div class="eff-6"></div>
										<a href="/about" class="btn">Read More </a>
							    </div>
							</div>
						</div>
			</div>
			<!-- //banner-text-info-->
			<!-- /banner-slider-->
		    <div class="hero-header-11-content">
			<!-- banner -->
			<div id="homepage-slider" class="st-slider">
				<input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
				<input type="radio" class="cs_anchor radio" name="slider" id="slide4" />
				<div class="images">
					<div class="images-inner">
						<div class="image-slide">
							<div class="banner-w3ls-1">
									<div class="wrapper">
										<div class="slider-num d-grid grid-columns-auto">
											<h4>01<span>/04</span></h4>
											<p>Interior Design</p>
										</div>
								   </div>
							</div>
						</div>
						<div class="image-slide">
							<div class="banner-w3ls-2">
									<div class="wrapper">
											<div class="slider-num d-grid grid-columns-auto">
												<h4>02<span>/04</span></h4>
												<p>Modern Decor</p>
											</div>
									   </div>
							</div>
						</div>
						<div class="image-slide">
							<div class="banner-w3ls-3">
									<div class="wrapper">
											<div class="slider-num d-grid grid-columns-auto">
												<h4>03<span>/04</span></h4>
												<p>Live Space</p>
											</div>
									   </div>
							</div>
						</div>
						<div class="image-slide">
								<div class="banner-w3ls-4">
										<div class="wrapper">
												<div class="slider-num d-grid grid-columns-auto">
													<h4>04<span>/04</span></h4>
													<p>Interior Decor</p>
												</div>
										   </div>
								</div>
						</div>
					</div>
				</div>
				<div class="labels">
					<div class="fake-radio">
						<label for="slide1" class="radio-btn"></label>
						<label for="slide2" class="radio-btn"></label>
						<label for="slide3" class="radio-btn"></label>
						<label for="slide4" class="radio-btn"></label>
					</div>
				</div>
			</div>
			<!-- //banner -->
		</div>
		<!-- /banner-slider-->

	</div>
</section>
<!-- //hero-header 11 -->
<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info section-gap">
		<div class="wrapper">
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src=" {% static 'assets/images/1.jpg' %} " class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Real History</span>
					<h4>Best Interior Designs for your Family</h4>
					<p>Discover the perfect blend of comfort, style, and functionality with our curated selection of interior designs tailored for your family.
						From cozy living rooms to vibrant play areas, we offer a diverse range of options to suit every taste and lifestyle.
						Let us transform your house into a warm and inviting home where cherished memories are made and shared.</p>

				</div>
			</div>
			<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
					<!---728x90--->

				</div>
		</div>
	</div>
</section>
<!-- feature with photo1 -->
<section class="w3l-feature-with-photo-1">
		<div class="feature-with-photo-hny section-gap">
			<div class="wrapper">
				<div class="feature-with-photo-content">
					<h3 class="hny-title text-center">Interiors that take your
							breath away<span class="sub-dot">.</sub></h3>
					<p>Experience breathtaking interiors that captivate the senses and elevate your space to new heights.</p>
					<img src=" {% static 'assets/images/2.jpg' %} " alt="" />
					<div class="three-grids d-grid grid-columns-3">
						<div class="grid">
							<div class="icon">
								<span class="fa fa-home" aria-hidden="true"></span>
							</div>
							<div class="icon-info">
								<h4>Residential Design</h4>
								<p>Elevating residential spaces with innovative design solutions.</p>
							</div>
						</div>
						<div class="grid">
							<div class="icon">
								<span class="fa fa-building-o" aria-hidden="true"></span>
							</div>
							<div class="icon-info">
								<h4>Office Design</h4>
								<p>Transforming workspaces with cutting-edge office design solutions.</p>
							</div>
						</div>
						<div class="grid">
							<div class="icon">
								<span class="fa fa-briefcase" aria-hidden="true"></span>
							</div>
							<div class="icon-info">
								<h4>Commercial Design</h4>
								<p>Revolutionizing commercial spaces with visionary design solutions.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //feature with photo1 -->
<!-- feature with photo6 -->
<section class="w3l-content-with-photo-11">
	<div class="contentwithphoto-11">
		<div class="wrapper-left">
			<div class="contentwithphoto-11-content">
				<div class="column contentwithphoto-text">
					<h3 class="hny-title">Perfection and quality, every step of the way</h3>
					<p>Our commitment to perfection and quality is unwavering, guiding every step of our journey.
						From concept to execution, we meticulously craft each detail, ensuring excellence in every aspect of our work.
						With passion and precision, we strive to exceed expectations, delivering exceptional results that stand the test of time.
					</p>
					<div class="contentwithphoto-text-info">
						<div class="column">
							<div class="icon">
								<span class="fa fa-podcast" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Superior High quality</a></h4>

						</div>
						<div class="column">
							<div class="icon">
								<span class="fa fa-shield" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Unmatched warranty</a></h4>

						</div>
						<div class="column">
							<div class="icon">
								<span class="fa fa-cogs" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Professional services</a></h4>

						</div>

					</div>
				</div>
				<div class="column contentwithphoto-img">
					<img src=" {% static 'assets/images/3.jpg' %} " class="img-responsive" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //feature with photo6 -->
<section class="w3l-grid-slider-vv">
	<div class="grid-slider section-gap">
		<div class="wrapper">
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			<h3 class="hny-title text-center">One stop for home interiors<span class="sub-dot">.</sub></h3>
			<!--  Demos -->
			<div id="demos">
				<div class="owl-carousel owl-theme grid-col-4">
					<div class="item">

							<div class="gallery-grid">
								<div class="content">
									<div class="content-overlay"></div>
									<img src=" {% static 'assets/images/g1.jpg' %} " class="image-two img-responsive">
									<div class="content-details fadeIn-bottom">
										<h4 class="content-title">Residential </h4>

									</div>
								</div>
							</div>

						</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g2.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Office</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g3.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g4.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Decor</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g5.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Furniture</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g6.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g7.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Residential </h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g9.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior Decor</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
					<div class="item">

									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src=" {% static 'assets/images/g9.jpg' %} " class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Home Design</h4>

											</div>
										</div>
									</div>

								</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /slider -->
	<script src=" {% static 'assets/js/jquery-3.3.1.min.js' %} "></script>
	<script src=" {% static 'assets/js/grids.owl.carousel.js' %} "></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 2000,
				autoplaySpeed: 1000,
				autoplayHoverPause: true,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 2,
						nav: true,
						margin: 20
					},
					667: {
						items: 3,
						nav: true,
						margin: 20
					},
					1000: {
						items: 4,
						nav: true,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- /slider -->

</section>
 <!-- covers-19 -->
 <section class="w3l-covers-vv-main">
        <div class="covers-19">
            <div class="wrapper">
                <div class="end-covers-19">
                    <div class="midd-cover-19">
						<h6>Interior Designs</h6>
                        <h3 class="hny-title">Design For your Family
                            </h3>
						<p>Discover tailored interior designs for your family. From cozy living spaces to vibrant play areas, we've got you covered. Let's create cherished memories together.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

</br>
</br>
</br>
</br>

</body>

{% endblock %}
<!-- Mirrored from p.w3layouts.com/demosWTR/Freedom/30-11-2019/livin-freedom_demo_Free/1835362585/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Mar 2023 05:10:12 GMT -->
</html>

